<div class="row">
  <div class="col-md-8">
    <h3><%= link_to registered_application.name, user_registered_application_path(registered_application.user.id, registered_application.id) %><br><%= registered_application.url %></h3>
  </div>
</div>
