<h2>Registered Applications for <%= current_user.email %></h2>
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <% @registered_apps.each do |app| %>
          <%= render 'registered_applications/registered_app', registered_application: app %>
        <% end %>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h3>Create new registered apps:</h3>
        <%= render 'registered_applications/form', registered_app: RegisteredApplication.new, user: @user %>
      </div>
    </div>
  </div>
</div>
