.well
  %h3 Scrutinize is an analytics service to track events on websites.
  %h4 Features:
  %ul
    %li A client-side JavaScript snippet that allows a user to track events on their website.
    %li A server-side API that captures and saves those events to a database.
    %li A Rails 5 application that displays the captured event data for a user.
  %h5
    %a{:href => "https://github.com/lkang-pdx/scrutinize"} GitHub Repo
