-# .jumbotron
-#   %h1 Simplify your life.
-#   %h1 Scrutinize your site.
-#   %p.lead Scrutinize is an analytics service that tracks how users click and scroll through your website.
-#   %p
-#     = link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg'
-#     or
-#     \#{link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg'} before it's too late!
#banner
  .banner_content
    %h1 Real Time Analytics
    %p
      = link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-md"
%section.selling-points.container.clearfix
  .point.column.third
    %h5.point-title Data
    %p.point-description Clicks, form submissions, page views in one place.
  .point.column.third
    %h5.point-title Information
    %p.point-description Define events and organize the building blocks of your analysis.
  .point.column.third
    %h5.point-title Insights
    %p.point-description Uncover insights that you'll actually take action on.
