#banner
  .banner_content
    %h1 Real Time Analytics
    %p
      = link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-md"
%section.selling-points.container.clearfix
  .point.column.third
    %i.fa.fa-database.fa-3x
    %h5.point-title Data
    %p.point-description Clicks, form submissions, page views in one place.
  .point.column.third
    %i.fa.fa-info-circle.fa-3x
    %h5.point-title Information
    %p.point-description Define events and organize the building blocks of your analysis.
  .point.column.third
    %i.fa.fa-area-chart.fa-3x
    %h5.point-title Insights
    %p.point-description Uncover insights that you'll actually take action on.
