<div class="jumbotron">
  <h1>Simplify your life.</h1>
  <h1>Scrutinize your site.</h1>
  <p class="lead">Scrutinize is an analytics service that tracks how users click and scroll through your website.</p>
  <p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg' %> or
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %> before it's too late!
  </p>
</div>
