/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'normalize.css';
 
 @import "bootstrap-sprockets";
 // @import "bootstrap";

  // Import cerulean variables
 @import "bootswatch/yeti/variables";

 // Then bootstrap itself
 @import "bootstrap";

 // Bootstrap body padding for fixed navbar
 body { padding-top: 60px; }

 // And finally bootswatch style itself
 @import "bootswatch/yeti/bootswatch";

 .user-info {
   margin-top: 9px;
 }

 .nav {
   margin-top: 5px;
 }

 .table-font {
   font-size: 20px;
 }

 #banner {
	background-image: url(image_path("splash.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 600px;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
      top: 40%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      font-size: 5rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-shadow: 2px 2px 1px rgb(31,41,96);
      color: white;
		}
		p {
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      text-shadow: 1px 1px 0px rgb(31,41,96);
		}
	}
}

.selling-points {
    position: relative;
    background-color: #328CC1;
    width: 100%;
}

.point {
    position: relative;
    padding: 2rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0px rgb(31,41,96);
}

.point .point-title {
    font-size: 2rem;
}

.point-title {
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 0px rgb(31,41,96);
}

@media (min-width: 640px){
    html { font-size: 100%; }

    .column{
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100px; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}
